.section {
  /* width: 1245px; */
  height: 715px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--dark-bg-color);
  background-image: url(../../img/heroImg.jpg);
  background-repeat: no-repeat;
  background-position: right;
}
.heroBlock {
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column; */
}
.title {
  width: 470px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.36;
  text-transform: uppercase;
}
.subTitle {
  margin-bottom: 125px;
  font-weight: 400;
  line-height: 1.35;
  font-size: 20px;
}
.text {
  width: 180px;
  margin-bottom: 25px;
}
