.title {
  margin-top: 130px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.35;
  text-transform: uppercase;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  width: 555px;
  height: 428px;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}

.txt {
  font-size: 20px;
  line-height: 1.35;
}
