.title {
  margin-top: 150px;
  margin-bottom: 65px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.35;
  text-transform: uppercase;
  text-align: center;
}

.reviewList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewItem {
  padding: 20px;
  background-color: var(--groupBg);
  border-radius: 10px;
}

.reviewItem:not(:last-child) {
  margin-right: 20px;
}
