.title {
  margin-top: 90px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.35;
  text-transform: uppercase;
  text-align: center;
}

.img {
  /* border-radius: 20px; */
}
