.section {
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.35;
  text-transform: uppercase;
  text-align: center;
}
.flex-wrapper {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.list {
  composes: flex-wrapper;
  flex-direction: column;
  width: 588px;
  height: 451px;
  list-style: disc;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.text {
  line-height: 1.36;
  font-size: 22px;
  text-align: left;
}
