.title {
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.35;
  text-transform: uppercase;
  text-align: center;
}
.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardsWrapper {
  composes: flex-wrapper;
}

.cardsItem {
  width: 392px;
  height: 382px;
  background: var(--benefits-block-bg);
}
.cardsItem:not(:last-child) {
  margin-right: 20px;
}

.imgTxtWrap {
  composes: flex-wrapper;
  flex-direction: column;
  padding: 50px 95px;
}

.cardText {
  margin-top: 15px;
  text-align: center;
}
