:root {
  --bg-color: #fff;
  --dark-bg-color: #e8e1da;
  --accent-color: #856c57;
  --qa-block-bg: #e1f4f8;
  --benefits-block-bg: rgba(210, 239, 244, 0.5);

  --main-text-color: #000;
  --title-color: #000;

  --btn-bg-main-color: rgba(3, 112, 155, 0.5);
  --btn-text-color: #fff;
  --btn-accent-color: #03709b;
  --btn-brown: #856c57;

  --input-border-color: #03709b;
  --input-txt-color: rgba(3, 112, 155, 0.5);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--bg-color);
  /* background-image: url(./img/background.jpg), url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: right, left; */
  /* background-attachment: fixed; */
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

audio,
video {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
